@import "../../assets/styles/common.scss";

.content{
    .list{
        width: 1060px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 0 77px 0;
        .item{
            font-size: 20px;
            color: #243841;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .icon{
            width: 71px;
            margin-bottom: 17px;
        }
    }
}
