@import "../../assets/styles/common.scss";
.list{
    li{
        position: relative;
        font-size: 14px;
        color: rgba(7,41,56,0.87);
        line-height: 28px;
        margin-bottom: 10px;
        position: relative;
        padding-left: 20px;
        &:before{
            font-size: 14px;
            color: rgba(7,41,56,0.50);
            line-height: 28px;
            position: absolute;
            left: 0;
            top: 0;
        }
        &:nth-child(1):before{
            content: '1、'
        }
        &:nth-child(2):before{
            content: '2、'
        }
        &:nth-child(3):before{
            content: '3、'
        }
        &:nth-child(4):before{
            content: '4、'
        }
        &:nth-child(5):before{
            content: '5、'
        }
    }
}