@import "../../assets/styles/mcommon.scss";
.content{
    .berealhz_misson{
        padding: 1rem .6rem;
        .title{
            margin-bottom: .88rem;
        }
    }
    .list{
        background: #f8f8f8;
        padding: 1rem .6rem;
        .item{
            margin-bottom: 1.2rem;
            &:last-child{
                margin: 0;
            }
        }
    }
    .title_block{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: .4rem;
        .title_icon{
            width: .51rem;
            margin-right: .2rem;
        }
        .title{
            font-size: .4rem;
            color: #072938;
        }
    }
}
