.top{
    width: 1053px;
    height: 160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        width: 277px;
    }
    .menu{
        display: flex;
        .menu_item{
            font-size: 18px;
            color: #072938;
            margin-left: 39px;
        }
        .active{
            color: #0C90CF;
            position: relative;
            &:after{
                content: '';
                width: 60px;
                height: 4px;
                background: #68CAF8;
                position: absolute;
                left: 50%;
                bottom: -16px;
                transform: translateX(-50%);
            }
        }
    }
}