@import "../../assets/styles/common.scss";
.content{
    .company{
        padding: 100px 0;
        .desc{
            margin-top: 80px;
            text-align: center;
            font-size: 14px;
            color: rgba(7,41,56,0.87);
            line-height: 28px;
        }
    }
    .company_misson{
        padding: 100px 0;
        background: #f8f8f8;
        .area{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .misson_img{
            width: 634px;
            height: 400px;
            margin-right: 100px;
        }
        .title{
            font-size: 28px;
            color: #072938;
            line-height: 28px;
            margin-bottom: 28px;
        }
        .title2{
            margin-top: 80px;
        }
        .desc{
            font-size: 14px;
            color: rgba(7,41,56,0.87);
            line-height: 28px;
        }
    }
    .berealhz_misson{
        padding: 100px 0;
        .desc{
            text-align: center;
            margin: 80px 0 20px 0;
        }
        .mission_list{
            width: 780px;
            margin: 0 auto;
        }
        span{
            font-size: 14px;
            color: #072938;
            line-height: 28px;
            width: 140px;
            display: inline-block;
            text-align: right;
        }
    }
    .join{
        padding: 100px 0;
        background: #f8f8f8;
    }
}
