@import "../../assets/styles/mcommon.scss";
.content{
    .title{
        margin: 1rem 0 .88rem 0;
    }
    .list{
        padding: 0 .6rem .8rem .6rem;
        li{
            position: relative;
            font-size: .28rem;
            color: rgba(7,41,56,0.87);
            line-height: .56rem;
            margin-bottom: .2rem;
            position: relative;
            padding-left: .4rem;
            &:before{
                font-size: .28rem;
                color: rgba(7,41,56,0.50);
                line-height: .56rem;
                position: absolute;
                left: 0;
                top: 0;
            }
            &:nth-child(1):before{
                content: '1、'
            }
            &:nth-child(2):before{
                content: '2、'
            }
            &:nth-child(3):before{
                content: '3、'
            }
            &:nth-child(4):before{
                content: '4、'
            }
            &:nth-child(5):before{
                content: '5、'
            }
        }
    }
}
