@import "../../assets/styles/common.scss";
.block1{
    .desc{
        margin-bottom: 30px;
    }
}
.block2{
    background: #F8F8F8;
    .desc{
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) { 
    .section2{
        padding: 50px 0;
    }
    .block1{
        background: #F8F8F8;
    }
    .block2{
        background: #fff;
    }
}