@import "../../assets/styles/common.scss";
.content{

    .berealhz_misson{
        padding: 100px 0;
        font-size: 14px;
        color: rgba(7,41,56,0.87);
        line-height: 28px;
        .desc{
            text-align: center;
            margin-top: 82px;
        }
    }

    .list{
        padding: 100px 0;
        background: #f8f8f8;
        .area{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        .item{
            width: 50%;
            padding: 0 20px;
            &:nth-child(1), &:nth-child(2) {
                height: 350px;
                margin-bottom: 140px;
            }
        }
        .title{
            font-size: 24px;
            color: #072938;
            line-height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            .title_icon{
                width: 36px;
                height: 31px;
                margin-right: 26px;
            }
        }
        .desc{
            font-size: 14px;
            color: rgba(7,41,56,0.87);
            line-height: 28px;
        }
    }
    
}